@model Gp.Web.Code.Entity.TradeInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "添加交易记录";
}
 <div class="container">
        @using (Ajax.BeginForm("AddTradeInfo", new AjaxOptions { OnSuccess = "onsucess", OnFailure = "onfailure" }))
        {
            @Html.AntiForgeryToken()

            <div class="">
                <h4>添加交割记录</h4>
                <hr />
                <div class="input-field">
                    @Html.EditorFor(model => model.DealDate, new { htmlAttributes = new { @class = "" ,@type="date"} })
                </div>
                <div class="input-field">
                    <label>证券代码</label>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "" } })
                </div>
                <div class="input-field">
                    <label>证券名称</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
                </div>
                <div class="input-field">
                    @Html.DropDownListFor(model => model.Operation, new List<SelectListItem>() {
                         new SelectListItem{ Value = "证券买入",Text="证券买入"} ,
                         new SelectListItem{ Value = "证券卖出",Text="证券卖出"} ,
                        },new { @class = "" })
                </div>
                <div class="input-field">
                    <label>成交数量</label>
                    @Html.EditorFor(model => model.DealCount, new { htmlAttributes = new { @class = "" } })
                </div>
                <div class="input-field">
                    <label>成交均价</label>
                    @Html.EditorFor(model => model.DealAvgPrice, new { htmlAttributes = new { @class = "" } })
                </div>

                <div class="input-field">
                    <input type="submit" value="提交"/>
                </div>
            </div>
        }
    </div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $('select').material_select();
    function onsucess(result) {
        result = JSON.parse(result)
        if (result.status === 'ok') {
            if (!confirm("添加成功， 是否继续添加")) {
                window.location.href = "/home"
            }
        }
    }

    function onfailure(data) {
        alert(data)
    }
</script>
